.ant-collapse-item {
    margin: 20px 0;
    width: 100% !important;
}

.ant-collapse-header {
    background: rgb(46,131,186); /* Light Salmon */
 
    border-radius: 10px !important;
    margin-bottom: 5px;
}

.ant-collapse-header:hover {
    background: rgba(46,131,186,0.7);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.ant-collapse-header-text {
    color: white;
    width: 80vw;
}

.ant-collapse-expand-icon {
    color: white;
}

.ant-collapse-content {
    border-radius: 10px !important;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.tabs-container {
    background-color: rgba(46,131,186,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    border-radius: 10px;
}

.tabs-container form {
    margin: 0 10px;
    padding: 15px;
}

.ant-table-wrapper {
    margin: 10px 0;
    width: 100%;
}

.ant-table {
    border-radius: 10px !important;
    width: 100%;
    max-width: 850px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.ant-table-thead tr th {
    background-color: rgba(46,131,186,0.7) !important;
}

.btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-btn {
    background-color: rgba(46,131,186,0.7) !important;
    background: rgba(46,131,186,0.5);
    color: white;
    padding: 5px 50px;
    margin: 20px 10px 0;
}

.ant-btn:hover {
    background: rgba(46,131,186,0.5);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    color: white !important;
}

.col {
    display: flex;
    justify-content: space-evenly;
}

.warning {
    text-align: center;
    color: red;
}

.wrapper {
    max-height: 100%;
    /* display: flex! important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important; */
}

.ant-modal {
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center;
    top: 50px;
}

.ant-modal-content {
    
    /* max-height: 700px; */
    height: 600px;
    width: 1200px;
    scroll-behavior: smooth;
    overflow-y: auto;
}