.ant-collapse-item {
    margin: 20px 0;
    width: 100% !important;
}

.ant-collapse-header {
    background: #FFA07A; /* Light Salmon */
    background: linear-gradient(
        90deg,
        #FFA07A 0%, /* Light Salmon */
        #FF7F50 100% /* Coral */
    );
    border-radius: 10px !important;
    margin-bottom: 5px;
}

.ant-collapse-header:hover {
    background: linear-gradient(
        90deg,
        #E9967A 0%, /* Dark Salmon */
        #FF6347 100% /* Tomato */
    );
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.ant-collapse-header-text {
    color: white;
    width: 80vw;
}

.ant-collapse-expand-icon {
    color: white;
}

.ant-collapse-content {
    border-radius: 10px !important;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.tabs-container {
    background-color: #FFF5EE; /* Seashell */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    border-radius: 10px;
}

.tabs-container form {
    margin: 0 10px;
    padding: 15px;
}

.ant-table-wrapper {
    margin: 10px 0;
    width: 100%;
}

.ant-table {
    border-radius: 10px !important;
    width: 100%;
    max-width: 850px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.ant-table-thead tr th {
    background-color: #F5DEB3 !important; /* Wheat */
}

.btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-btn {
    background-color: #FFDAB9; /* Peach Puff */
    background: linear-gradient(
        90deg,
        #FFA07A 0%, /* Light Salmon */
        #FF7F50 100% /* Coral */
    );
    color: white;
    padding: 5px 50px;
    margin: 20px 10px 0;
}

.ant-btn:hover {
    background: linear-gradient(
        90deg,
        #E9967A 0%, /* Dark Salmon */
        #FF6347 100% /* Tomato */
    );
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    color: white !important;
}

.col {
    display: flex;
    justify-content: space-evenly;
}

.warning {
    text-align: center;
    color: red;
}
